@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Lato:wght@300;400;700&display=swap');

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Lato', sans-serif;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Playfair Display', serif;
	}